hr {
	height: 1px;
	background-color:rgba(6, 78, 119, 0.5);
	margin-top: 20px;
	margin-bottom: 20px;
}

.no_wrap {
	white-space: nowrap;
}

.bg_green {
    background-color: rgb(151, 210, 200);
}

.common_blue {
	color: rgba(0, 58, 93, 0.76);
}

.common_black{
	color: rgb(60, 60, 60);
}

.common_white{
	color: rgb(255, 255, 255);
}

.text_center{
	text-align: center;
}

.navbar {
	min-height: 110px;
	margin-bottom: 0px;
	border: none;
}

.navbar-header {
  height: 110px;
}

.navbar-default {
	color: #555;
	background-color: rgb(247, 247, 247);
}

.navbar-default {
	border: none;
}

.navbar-toggle {
	margin-top: 38px;
}

.navbar-brand {
	/*
	background: url(../img/logo_s.png) no-repeat left center;
	background-size: contain;
	height: 110px;
	width: 233px;
	*/
}

#header {
	/* height: 110px; */
	/*position: fixed;*/
	/*z-index: 10000;*/
	/* padding: 0px; */
	/*box-shadow: 0px 0px 10px 0px rgba(138, 130, 255, 0.8);*/
	/* background-color: #2B4C72;
	/* background-color: #608EB5; */
	/* background-color: #566782; */
	/* background-color: #777A80; */
	/* background-color: rgb(241, 251, 255); */
	/* background-color: rgb(151, 210, 200); */
}

#header_wrap {
	/*max-width: 1000px;*/
	/*height: 110px;*/
	margin: 0 auto;
	position: relative;
}

#logo {
	position: absolute;
	top: 3px;
	left: 0px;
}
/*
#logo img {
	width: 246px;
	height: 58px;
}
*/
.relative   {  
    position: relative;  
}  

.absolute   {  
    position: absolute;  
}  

.align_right {
		text-align: right;
}

/* フェードイン */
@keyframes fadeInUpSmall {
	from {
	  opacity: 0;
	  transform: translate3d(0, 25px, 0);
	}
  to {
      opacity: 1;
	    transform: none;
	  }
  }
  .fadeInUpSmall {
	  animation-name: fadeInUpSmall;
	}
	
	@keyframes fadeInDownSmall {
		from {
			opacity: 0;
			transform: translate3d(0, -25px, 0);
		}
		to {
			opacity: 1;
			transform: none;
		}
	}
	.fadeInDownSmall {
		animation-name: fadeInDownSmall;
	}

	/* 伸縮 */
@keyframes scaleDown {
  from {
    transform: scaleY(0);
		transform-origin:top;
  }
  to {
		transform: scaleY(1);
		transform-origin:top;
  }
}
.scaleDown {
  animation-name: scaleDown;
}

	/* text（大） */
	.input-xlg {
    height: 60px;
    padding: 10px 20px;
    font-size: 20px;
    line-height: 1.33;
    border-radius: 4px;
}

/* 共通ボタン */
.btn-ghost {
  background: transparent;
	border: 1px solid;
	font-weight: 500;
}

.btn-ghost.btn-default {
  color: #ccc;
}

.btn-ghost.btn-primary {
  color: #245580;
}

.btn-ghost.btn-success {
  color: #3e8f3e;
}

.btn-ghost.btn-info {
  color: #3498db;
}

.btn-ghost.btn-warning {
  color: #e38d13;
}

.btn-ghost.btn-danger {
  color: #b92c28;
}

.btn-ghost.btn-primary:hover,
.btn-ghost.btn-success:hover,
.btn-ghost.btn-info:hover,
.btn-ghost.btn-warning:hover,
.btn-ghost.btn-danger:hover {
  color: #fff;
}

.btn-ghost.btn-white {
  color: rgb(255, 255, 255);
  border: 1px solid #fff;
}

.btn-ghost.btn-white:hover {
  color: rgba(0, 58, 93, 0.76);
  background: #fff;
}

.font_40 {
	font-size: 40px;
}
