.bg_green {
    background-color: rgb(151, 210, 200);
}

.common_black{
	color: rgb(60, 60, 60);
}

.common_white{
	color: rgb(255, 255, 255);
}

.navbar-brand {
	background: url(../img/logo_s.png) no-repeat left center;
	background-size: contain;
	height: 105px;
	width: 233px;
  }

#header {
	height: 105px;
	/*position: fixed;*/
	color: rgb(3, 72, 151);
	left: 0;
	right: 0;
	top: 0;
	/*z-index: 10000;*/
	padding: 5px 30px;
	/*box-shadow: 0px 0px 10px 0px rgba(138, 130, 255, 0.8);*/
	/* background-color: #2B4C72; */
	/* background-color: #608EB5; */
	/* background-color: #566782; */
	/* background-color: #777A80; */
	/* background-color: rgb(241, 251, 255); */
	/* background-color: rgb(151, 210, 200); */
}

.relative   {  
    position: relative;  
}  

.absolute   {  
    position: absolute;  
}  

.title {
	position: relative;  
	height: 500px;
	width: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.title_overlay {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 9990;
	/*background: linear-gradient(to right, rgba(0, 255, 242, 0.753) 0%, rgba(15, 59, 238, 0.4) 100%);*/
	background: linear-gradient(to right, rgba(0, 132, 255, 0.6) 0%, rgba(0, 255, 242, 0.2) 100%);
}

.title_pic {
	position: absolute;
	z-index: 9980;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-size: cover;
	/*background: linear-gradient(to right, rgba(0, 255, 200, 0.644) 0%, rgba(183, 253, 255, 0.5) 100%);*/
	background-image: url(../img/title01.png);
}

.title_content {
	position: absolute;
	z-index: 9995;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 50px;
}

.regist_box {
	background:rgba(255, 255, 255, 0.5);
	height: 100%;
}

.title_text{
	text-align: center;
	color: rgb(255, 255, 255);
	font-size: 45px;
	font-weight: 400;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.4);
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic ProN", "メイリオ", "游ゴシック", YuGothic, Meiryo, sans-serif;
}

.title_description {
	text-align: center;
	color: rgb(255, 255, 255);
    font-size: 100%;
	font-weight: 400;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.4);
}

@keyframes fadeInUpSmall {
	from {
	  opacity: 0;
	  transform: translate3d(0, 25px, 0);
	}
  
	to {
	  opacity: 1;
	  transform: none;
	}
  }
  
  .fadeInUpSmall {
	animation-name: fadeInUpSmall;
  }
  