.title {
	position: relative;  
	min-height: 510px;
	/* min-height: calc(100% - 105px); */
	/* height: 100%; */
	width: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.title_overlay {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 9990;
	/*background: linear-gradient(to right, rgba(0, 255, 242, 0.753) 0%, rgba(15, 59, 238, 0.4) 100%);*/
	background: linear-gradient(to right, rgba(0, 132, 255, 0.6) 0%, rgba(0, 255, 242, 0.2) 100%);
}

.title_pic {
	position: absolute;
	z-index: 9980;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-size: cover;
	/*background: linear-gradient(to right, rgba(0, 255, 200, 0.644) 0%, rgba(183, 253, 255, 0.5) 100%);*/
	background-image: url(../img/title01.png);
}

.title_content {
	position: absolute;
	z-index: 9995;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 50px;
}

.regist_box {
	background:rgba(255, 255, 255, 0.65);
	height: 100%;
	padding: 35px 40px 0px;
}

.title_text{
	text-align: center;
	color: rgb(255, 255, 255);
	font-size: 45px;
	font-weight: 400;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.4);
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic ProN", "メイリオ", "游ゴシック", YuGothic, Meiryo, sans-serif;
}

.title_description {
	text-align: center;
	color: rgb(255, 255, 255);
    font-size: 100%;
	font-weight: 400;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.4);
}

.login_button_inline_height {
	line-height: 110px;
	text-align: right;
	margin-right: 50px;
}

.login_button_inline_height .login_button {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

.mail_input {
	width: 100;
	opacity: 0.8;
	border-color: rgb(0, 138, 177);
}

.mail_input_rabel {
    font-size: 17px;
    color: rgba(0, 58, 93, 0.76);
    text-shadow: 0px 1px 3px rgba(232, 231, 220, 0);
}
.common_row {
}

/* ------------------------------------------- */
/* プレースホルダの色 */
/* ------------------------------------------- */
/* for Webkit */
.form-control::-webkit-input-placeholder{
    color: rgb(0, 117, 168);
    font-size: 0.85em;
}
/* for Firefox */
.form-control::-moz-placeholder{
    color: rgb(0, 117, 168);
    font-size: 0.85em;
}
 /* for Firefox 18以前 */
.form-control:-moz-placeholder{
    color: rgb(0, 117, 168);
    font-size: 0.85em;
}
 /* for Windows IE */
.form-control:-ms-input-placeholder{
    color: rgb(0, 117, 168);
    font-size: 0.85em;
}

/* ------------------------------------------- */
/* 機能説明部分 */
/* ------------------------------------------- */
.function_title{
	text-align: center;
}

.row01 {
	background-color: rgb(245, 245, 244);
	padding-top: 60px;
	padding-bottom: 30px;
	background-image: url(../img/map.jpg);
}

.row01_01 {
	/* background: rgba(187, 255, 215, 0.4) url(../img/checklist.png) no-repeat top right;*/ 
	height: 180px;
	text-align: left;
	margin-top: 20px;
	font-weight: 500;
	padding-left: 60px;
	font-size: 1.1em;
}

.row01_02 {
	/* background: rgba(187, 255, 215, 0.4) url(../img/devices.png) no-repeat top right; */ 
	height: 180px;
	text-align: left;
	margin-top: 10px;
	font-weight: 500;
	padding-left: 60px;
	font-size: 1.1em;
	/*
	padding :15px 25px;
	border-bottom :1px solid;
	border-right :1px solid;
	*/
}

.row01_03 {
	height: 180px;
	text-align: left;
	margin-top: 10px;
	font-weight: 500;
	padding-left: 60px;
	font-size: 1.1em;
}

.row02 {
	height: 200px;
	position: relative;  
	/*background-image: url(../img/title01.png);*/
}

.row02_01 {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 9990;
}

.row02_01_overlay {
	/*background-color: rgb(255, 195, 195); */
	/*background-color: rgb(110, 160, 253);*/
	background: linear-gradient(to right, rgba(0, 132, 255, 0.6) 50%, rgba(0, 255, 242, 0.2) 100%);
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 9980;
}

.row03 {
	height: 400px;
}
