.title {
	position: relative;  
	height: 500px;
	width: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.title_overlay {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 9990;
	/*background: linear-gradient(to right, rgba(0, 255, 242, 0.753) 0%, rgba(15, 59, 238, 0.4) 100%);*/
	background: linear-gradient(to right, rgba(0, 132, 255, 0.6) 0%, rgba(0, 255, 242, 0.2) 100%);
}

.title_pic {
	position: absolute;
	z-index: 9980;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-size: cover;
	/*background: linear-gradient(to right, rgba(0, 255, 200, 0.644) 0%, rgba(183, 253, 255, 0.5) 100%);*/
	background-image: url(../img/title01.png);
}

.title_content {
	position: absolute;
	z-index: 9995;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 50px;
}

.regist_box {
	background:rgba(255, 255, 255, 0.5);
	height: 100%;
	padding: 40px;
}

.title_text{
	text-align: center;
	color: rgb(255, 255, 255);
	font-size: 45px;
	font-weight: 400;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.4);
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic ProN", "メイリオ", "游ゴシック", YuGothic, Meiryo, sans-serif;
}

.title_description {
	text-align: center;
	color: rgb(255, 255, 255);
    font-size: 100%;
	font-weight: 400;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.4);
}

.login_button_inline_height {
	line-height: 100px;
	text-align: right;
	margin-right: 50px;
}

.login_button_inline_height .login_button {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

.mail_input {
	width: 100%
}

.common_row {
	height: 100vh;
}

.rownum01 {
	background-color: rgb(235, 235, 235);
}

.rownum02 {
	background-color: rgb(255, 195, 195);
}


